@font-face {
  src: url(/fonts/EurostileExtendedBlack.ttf);
  font-family: "eurostyle";
}

/* add michroma font face from google fonts */
@font-face {
  font-family: "michroma";
  /* src: url(https://fonts.googleapis.com/css2?family=Michroma&display=swap); */
  /* src: url(https://fonts.gstatic.com/s/michroma/v19/PN_zRfy9qWD8fEagAPgzpTnr_w.woff2); */
  src: url(/fonts/Michroma-Regular.ttf);
}

body {
  /* linear gradient backgrounbd */

  font-family: "michroma", "roboto", sans-serif;
  margin: 3rem;
  color: white;
  /* animation: gradientAnimation 5s linear infinite; */
}

.id-card {
  display: inline;
  background: linear-gradient(45deg, #9263e7, #aaada3, #9263e7);
  position: relative;
}

h1 {
  /* white-space: nowrap; */
  /* write upwards */
  /* outer glow */
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de,
    0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
}

img {
  /* outer glow */
  box-shadow: 0 0 10px #ffffff80, 0 0 20px #ffffff75, 0 0 30px #ffffff73,
    0 0 40px #ff00dd7a, 0 0 70px #ff00dd7e, 0 0 80px #ff00dd80,
    0 0 100px #ff00dd77, 0 0 150px #ff00dd7a;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* center grid items */
  align-items: center;
  justify-items: center;
  /* align center */
  text-align: center;
  gap: 5rem;
  /* page break before */
  page-break-before: always;
}

.grid * {
  width: 100%;
}

.id-card {
  border: 5px solid red;
  width: 297px;
  height: 386px;
  z-index: -2;
}

.match-profile {
  width: 175px;
  height: 225px;
}

.match-label {
  font-size: 1em;
}

.your-profile {
  width: 90%;
  height: 65%;
  margin-top: 20px;
}

.your-name {
  position: absolute;
  bottom: 30%;
}

.your-real-name {
  color: #878989;
  font-size: 1em;
  position: absolute;
  right: 0;
  text-align: right;
  padding-right: 15%;
}

h1 {
  color: #9f1cb5;
  text-align: left;
  padding-left: 0.5em;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  font-size: 2em;
  width: 75% !important;
}

.match-name {
  /* font-size: 1.5em; */
  position: absolute;
  bottom: 30%;
}

.partner-id-label {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  color: black;
  font-size: 1em;
  position: absolute;
  right: 0;
  width: 80%;
  bottom: 50px;
  z-index: 100;
}

.partnernum {
  background-color: #9f1cb5;
  justify-content: center;
  text-align: center;
  justify-self: end;
  width: 80%;
  height: 12%;
  position: absolute;
  right: 0;
  bottom: 15px;
}

.partner-id {
  font-size: 1.5em;
  margin: 0;
  height: 100%;
  padding: 2% 0;
}

.watermark {
  text-align: start;
  transform: rotate(90deg);
  position: absolute;
  z-index: -1;
  color: #aaada3;
}

.left {
  left: 125px;
  top: 150px;
}

.right {
  transform: rotate(-90deg);
  right: 125px;
  bottom: 150px;
}

img {
  /* cover */
  object-fit: cover;
  max-width: 70%;
  max-height: 70%;
  border-radius: 25px;
}

/* select the first four children */
.grid div:nth-child(1),
.grid div:nth-child(2),
.grid div:nth-child(3),
.grid div:nth-child(4) {
  transform: rotate(180deg);
}

/* first row of grid upside down */

.life-is-an-internal-battle {
  /* display: inline-block; */
  width: auto;
  padding-left: 15%;
  font-size: 0.75em;
  color: black;
  text-align: left;
  padding-top: 5%;
}
